* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(elementos/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .navegar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}
header .navegar ul {
  list-style: none;
  display: flex;
}
header .navegar li {
  text-align: center;
  position: relative;
}

header .navegar a {
  color: white;
  padding: 8px 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}
header .navegar a:hover {
  color: black;
  background-color: white;
}
.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 15px 0px;
}
.submenu li {
  padding: 8px 0px;
  display: none;
  position: absolute;
  top: 0px;
}
.submenu a {
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.check {
  display: none;
}
header .navegar ul input[type="checkbox"]:checked ~ .submenu li {
  display: block;
  top: 0px;
}
.principal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.principal h1 {
  color: white;
  font-size: 35px;
  font-family: "Press Start 2P", cursive;
}
.principal .grupo a {
  color: white;
  padding: 10px 18px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.5s;
  text-decoration: none;
}
.principal .grupo a:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}
@media screen and (max-width: 450px) {
  .principal h1 {
    color: white;
    font-size: 50px;
    text-align: center;
  }
  header .navegar {
    justify-content: center;
  }
  .submenu {
    padding: 10px 0px;
  }
  .submenu li {
    padding: 12px 0px;
  }
  header .submenu a {
    color: black;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
  }
}
